
.w3-theme-l5 {color:#000 !important; background-color:#edfaf1 !important}
.w3-theme-l4 {color:#000 !important; background-color:#c3eed2 !important}
.w3-theme-l3 {color:#000 !important; background-color:#88dda4 !important}
.w3-theme-l2 {color:#fff !important; background-color:#4ccd77 !important}
.w3-theme-l1 {color:#fff !important; background-color:#2d9f53 !important}
.w3-theme-d1 {color:#fff !important; background-color:#195a2f !important}
.w3-theme-d2 {color:#fff !important; background-color:#165029 !important}
.w3-theme-d3 {color:#fff !important; background-color:#144624 !important}
.w3-theme-d4 {color:#fff !important; background-color:#113c1f !important}
.w3-theme-d5 {color:#fff !important; background-color:#0e321a !important}

.w3-theme-light {color:#000 !important; background-color:#edfaf1 !important}
.w3-theme-dark {color:#fff !important; background-color:#0e321a !important}
.w3-theme-action {color:#fff !important; background-color:#0e321a !important}

.w3-theme {color:#fff !important; background-color:#1c6434 !important}
.w3-text-theme {color:#1c6434 !important}
.w3-border-theme {border-color:#1c6434 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#1c6434 !important}
.w3-hover-text-theme {color:#1c6434 !important}
.w3-hover-border-theme:hover {border-color:#1c6434 !important}
