<!DOCTYPE html>
<html>

<head>
	<title>Alarm Clock</title>
	<link rel="stylesheet" href="/static/BellSchedule/css/w3.css">
	<link rel="stylesheet" href="/static/BellSchedule/css/aisw3.css">
	<script src='js/clock.js'></script>

	
</head>

<body>
	
		<div class="w3-card-8 w3-center">
			<header class="w3-container w3-theme head">
				<h1>School Bell</h1>
			</header>
			<div class="w3-container w3-theme-light content">
				<br>
				<span id="date" class="w3-large"></span><br>
				<span id="time" class="w3-xxlarge"></span><br>
				<span id="last_alarm"></span>
				<br>
			</div>
			<footer class="w3-container w3-theme foot">
				<span class="w3-tiny">Time Offset: <span id="debug">&nbsp;</span></span>
			</footer>
		</div>
		<br>
		<div id="schedule_card" class="w3-card-8 w3-center">
			<header class="w3-container w3-theme head">
				<h1>Today's Schedule: <span id="sched_name"></span></h1>
			</header>
			
			<div id='schedule_table'></div>
			
			<footer class="w3-container w3-theme foot">
				<h5>&nbsp;</h5>
			</footer>
		</div>
	<script>window.onload = start_clock();</script>
</body>

</html>
